:root {
    --font-main: 'Inter', sans-serif;
    --font-accent: 'Nimbus Sans L Bold', sans-serif;
    --letter-spacing: -1px;

    --container-padding: 100px;

    --main-color: #191a23;
    --accent-color: #C8102E;
    --color-white-solid: #fff;

    --mobile-h1: 48px;
    --mobile-h2: 24px;
    --mobile-h3: 16px;
    --mobile-p: 12px;

}